body {
	background-color: #AAA;
	background-repeat: repeat;
	text-align: center;
	min-height: 800px;
	/*font-family: "Comic Sans MS";*/
	font-family: sans-serif;
	font-size: 0.8em;
	letter-spacing: 0px;
	line-height: 1.5em;
	padding-top: 0;
	margin-top: 0;
	
}
#wrapper {
	width: 800px;
	text-align: left;
	margin: 0 auto;
	padding: 12px;
	background-color: white;
	min-height: 100%;
	padding-top: 2em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	z-index: 1;
	position: relative;
}

ul.krawnav {
	margin-left: -12px;
	margin-right: -12px;
}

#main {
	min-height: 400px;
	position: relative;
}

#footer {
	border-top: 1px solid black;
	margin-top: 3em;
	margin-left: -12px;
	margin-right: -12px;
	padding: 8px;
	font-size: 0.8em;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 5px;
}

h1,h2,h3,h4,h5,h6 {
	margin-left: 5em;
}


li {margin-bottom: 1em;}
p {text-indent: 1em;}
a {text-indent: 0;}

img.book {
	width: 100px;
	/*margin-left: 4em;*/
}

img.ppl {height: 140px;}

img.logo, img.book, div.date, img.ppl {
	float: right;
	margin-right: 1em;
	max-width: 150px;
	margin-top: -4em;
	margin-left: 5px;
}

#mainhead {
	font-weight: normal;
	font-size: 2em;
	padding-left: 1em;
	font-family: 'Lucida Console', monospace;
}

#main a.doclink {
text-decoration: none;
font-size: 0.9em;
font-weight: bold;
text-align: center;
display: inline-block;

margin: 0 0 3px 0;
text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
-webkit-background-origin: padding-box;
-moz-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
-moz-background-clip: border-box;
background-clip: border-box;
border-radius: 4px;
-moz-border-radius: 4px;
padding-left: 2px;
padding-right: 2px;
position: relative;
border-image: initial;
}

#main a.doclink:hover {
	text-decoration: underline;
}


#main a.local {
	border: 1px solid #999;
	background: -webkit-gradient( linear, left top, left bottom, from(#DDD), to(#BBB) );
	background: -moz-linear-gradient(top, #DDD, #BBB);
	color: black;
}

#main a.external {
/*	border: 1px solid #AAA;
	background: -webkit-gradient( linear, left top, left bottom, from(#333), to(#888) );
	background: -moz-linear-gradient(top, #333, #888);
	color: white;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9); */
	border: 1px solid #555;
	background: -webkit-gradient( linear, left top, left bottom, from(#999), to(#BBB) );
	background: -moz-linear-gradient(top, #999, #BBB);
		color: white;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

div.date {
	background-color: #555;
	color: white;
	font-weight: bold;
	font-size: 2em;
	width: 200px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin-top: -2em;
	border-radius: 7px;
}

.date > span {
	display: block;
	font-weight: normal;
	padding-top: 5px;
	font-size: 0.5em;
}

.bg {
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	color: #777;
}

#krawnavbutton {
	position: absolute;
	width: 50px;
	height: 50px;
	top: -0px;
	right: 0;
	margin: 1em;
	border: 1px solid black;
	background-image: url("../img/foot.png");
	background-color: #CDCDCD;
	z-index: 4;
}

#krawnavbutton:hover, #nonav:hover {
	background-color: #EFEFEF;
}

#krawnavbutton.krawcontentlistshow {
	border-bottom: none;
	border-left: none;
	background-color: transparent;
}

#krawnavcontainer {
	z-index: 3;
	position: absolute;
	width: 200px;
	margin: 1em;
	padding: 1em;
	right: -0px;
	top: -0px;
	border: 1px solid black;
	background-color: #EFEFEF;
	box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
}

#krawnavcontainer a.krawmenulink {
	border: none;
	background: none;
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	display: block;
	margin-right: 1em;
	padding-right: 4em;
}

#krawnavcontainer a.krawmenulink:hover {
	background-color: #AAA;
}

#krawnavcontainer a.krawmenulink:hover { text-decoration: underline;}

.krawmenulinkdepth1 { padding-left: 1.4em;}
.krawmenulinkdepth2 { padding-left: 2.8em;}
.krawmenulinkdepth3 { padding-left: 4.2em;}
.krawmenulinkdepth4 { padding-left: 5.6em;}
.krawmenulinkdepth5 { padding-left: 7em;}
.krawmenulinkdepth6 { padding-left: 8.4em;}

h1 {margin-left: 50px}
h2 {margin-left: 90px}
h3 {margin-left: 130px}
h4 {margin-left: 170px}
h5 {margin-left: 210px}
h6 {margin-left: 250px}



#nonav {
	position: absolute;
	width: 50px;
	height: 50px;
	top: -0px;
	right: 70px;
	margin: 1em;
	border: 1px solid black;
	background-image: url("../img/tab.png");
	background-size: 100%;
	background-color: #CDCDCD;
	z-index: 3;
}

.krawnavsuspend #nonav {
	background-image: url("../img/tab_remove.png");	
}

.krawnavsuspend h1,
.krawnavsuspend h2,
.krawnavsuspend h3,
.krawnavsuspend h4,
.krawnavsuspend h5,
.krawnavsuspend h6 {
	margin-top: 2em;
	margin-bottom: 1em;
}