body {
	background-color: #AAA;
	background-repeat: repeat;
	text-align: center;
	min-height: 800px;
	/*font-family: "Comic Sans MS";*/
	font-family: sans-serif;
	font-size: 0.7em;
	letter-spacing: 1px;
	line-height: 1.5em;
	padding-top: 0;
	margin-top: 0;
	
}
#wrapper {
	width: 800px;
	text-align: left;
	margin: 0 auto;
	padding: 8px;
	background-color: white;
	min-height: 100%;
	padding-top: 2em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	z-index: 1;
	position: relative;
}

ul.krawnav {
	margin-left: -8px;
	margin-right: -8px;
}

#main {
	min-height: 400px;
	position: relative;
}

#footer {
	border-top: 1px solid black;
	margin-top: 3em;
	margin-left: -8px;
	margin-right: -8px;
	padding: 8px;
	font-size: 0.8em;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	margin-left: 5em;
}

img.book {
	width: 100px;
	/*margin-left: 4em;*/
}

img.logo, img.book, div.date {
	float: right;
	margin-right: 1em;
	max-width: 150px;
	margin-top: -4em;
	margin-left: 5px;
}

#mainhead {
	font-weight: bold;
	font-size: 3em;
	padding-left: 1em;
}

a.local {
	color: red;
}

a.external {
	color: green;
}

#main a.doclink {
text-decoration: none;
font-size: 0.9em;
font-weight: bold;
text-align: center;
display: inline-block;
border: 1px solid #EC5;
background: -moz-linear-gradient(top, #FC0, #FD6);
background: -webkit-gradient( linear, left top, left bottom, from(#FC0), to(#FD1), color-stop(0.5, #FD3), color-stop(0.5, #FD6) );
background: -moz-linear-gradient(top, #FC0, #FD6);
margin: 0 0 3px 0;
text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
-webkit-background-origin: padding-box;
-moz-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
-moz-background-clip: border-box;
background-clip: border-box;
border-radius: 4px;
-moz-border-radius: 4px;
padding-left: 2px;
padding-right: 2px;
position: relative;
border-image: initial;
}

#main a.doclink:hover {
	text-decoration: underline;
}

div.date {
	background-color: #555;
	color: white;
	font-weight: bold;
	font-size: 2em;
	width: 200px;
	height: 50px;
	padding-top: 5px;
	text-align: center;
	margin-top: -2em;
	border-radius: 7px;
}

.date > span {
	display: block;
	font-weight: normal;
	padding-top: 5px;
	font-size: 0.5em;
}

.bg {
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#krawnavbutton {
	position: absolute;
	width: 50px;
	height: 50px;
	top: -0px;
	right: 0;
	margin: 1em;
	border: 1px solid black;
	background-image: url("../img/nav.jpg");
	z-index: 4;
}

#krawnavcontainer {
	z-index: 3;
	position: absolute;
	width: 200px;
	margin: 1em;
	padding: 1em;
	right: -2px;
	top: -2px;
	border: 1px solid black;
	background-color: #EFEFEF;
}

#krawnavcontainer a.krawmenulink {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	display: inline;
}

#krawnavcontainer a.krawmenulink:hover { text-decoration: underline;}

.krawmenulinkdepth1 { margin-left: 1.4em;}
.krawmenulinkdepth2 { margin-left: 2.8em;}
.krawmenulinkdepth3 { margin-left: 4.2em;}
.krawmenulinkdepth4 { margin-left: 5.6em;}
.krawmenulinkdepth5 { margin-left: 7em;}
.krawmenulinkdepth6 { margin-left: 8.4em;} 